/* ---------- | Mobile | ---------- */
@media (max-width: 768px) {
    .header-container {
        display: flex;
        width: 100%;
    }

    .header-menu {
        display: flex;
        width: 100%;
    }

    .header-submenu {
        display: flex;
        width: 100%;
        justify-content: space-around;
        font-size: 1rem;
    }

    

    .subheader-container {
        display: flex;
        height: 300px;
    }

    .box-text {
        display: flex;
        width: 80%;
    }

    .subheader-primary-text {
        display: flex;
        font-size: 0.9rem;
    }

    .subheader-second-text {
        display: flex;
        font-size: 1.2rem;
    }

    .buttom-subheader {
        display: flex;
        font-size: 0.6rem;
        width: 80%;
    }

    .top-main {
        display: flex;
        width: 100%;
        font-size: 0.8rem;
    }

    .top-main::after {
        width: 30%;
    }

    .text-mid {
        display: flex;
        width: 80%;
        height: 100px;
    }

    .primary-text-mid {
        display: flex;
        font-size: 0.9rem;
    }

    .secondary-text-mid {
        display: flex;
        width: 100%;
        font-size: 1.2rem;
    }

    .cupons-container {
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
        /* gap: 20px; */
        gap: 3%;
        margin: 20px;
        height: 1400px;
    }

    .cupon-card {
        width: 80%;
    }

    footer {
        display: flex;
        width: 100%;
        /* align-items: baseline; */
    }
    
    .footer-container {
        display: grid;
        flex-direction: column;
        width: 80%;
        height: 600px;
    }
    
    .text-cupincha {
        display: flex;
        margin-top: 30px;
        font-size: 1.2rem;
        width: 80%;
        height: 100px;
     }

    .conteudo {
        display: flex;
        margin-top: 30px;
        gap: 5px;
        font-size: 0.8rem;
        height: 140px;
        justify-content: space-between;
    }

    .sub-conteudo {
        display: flex;
        font-size: 0.8rem;
        height: 100px;
        justify-content: space-around;
        gap: 10px;
    }

    .categorias {
        display: flex;
        margin-top: 30px;
        gap: 5px;
        font-size: 0.8rem;
        height: 140px;
        justify-content: space-between;
    }

    .sub-categorias {
        display: flex;
        font-size: 0.8rem;
        height: 100px;
        justify-content: space-around;
        gap: 10px;
    }

    .contato {
        display: flex;
        margin-top: 30px;
        gap: 5px;
        font-size: 0.8rem;
        height: 100px;
        justify-content: space-between;
    }

    .sub-contato {
        display: flex;
        font-size: 0.8rem;
        height: 100px;
        justify-content: space-around;
        gap: 10px;
    }

    .sub-footer {
        display: flex;
        width: 80%;
        align-items: center;
        justify-content: center;
    }

    .text-sub-footer {
        text-align: center;
        margin-top: 30px;
        font-size: 0.9rem;
    }
}